node_modules/
vendor/
.env
.env.production
.env.*
!.env.example

client_secret_*.json
*.log
.DS_Store
Thumbs.db
GSM/api/*.json

GSM/api/bpmproject-51620-ea52e0cd83fe.json

# Build artifacts (Built on prod)
index.html
assets/